body {
  margin: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.btn {
  width: fit-content;
  padding: 5px;
  outline: none;
  background-color: gold;
  font-size: 20px;
  transition: all .25s ease-in-out;
}

.btn:active {
  transform: scale(0.96);
  font-size: 19px;
}

.quote_wrap {
  min-height: 700px;
}
